[Unit]
Description=Consul
Documentation=https://www.consul.io/

[Service]
PermissionsStartOnly=true
User=consul
Group=consul
LimitNOFILE=1024
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment HOSTNAME=$(hostname)"
ExecStart=/opt/consul/bin/consul agent -node $HOSTNAME -config-dir=/etc/consul.d/
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
